<div class="color-picker">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span10">
                <div class="color-picker-constraint">
                    <w-movable
                        data-dojo-attach-point="boxHandle"
                        data-dojo-attach-event="moved: onBoxHandleMoved, click: onBoxHandleClick"
                        class="color-picker-box-handle"
                        tabindex=1
                    ></w-movable>
                    <div class="color-picker-outer-box">
                        <div
                            class="color-picker-box"
                            data-dojo-attach-point="box"
                            data-dojo-attach-event="ondijitclick: onBoxClick"
                            ></div>
                    </div>
                </div>
            </div>
            <div class="span2">
                <div class="color-picker-hue-constraint">
                    <w-movable
                        data-dojo-attach-point="hueHandle"
                        data-dojo-attach-event="moved: onHueHandleMoved, click: onHueHandleClick"
                        class="color-picker-hue-handle"
                        tabindex=2
                    ></w-movable>
                    <div class="color-picker-hue-outer-box">
                        <div
                            class="color-picker-hue"
                            data-dojo-attach-point="hue"
                            data-dojo-attach-event="ondijitclick: onHueClick"
                        ></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <input
                data-dojo-type="havok/form/HexColor"
                data-dojo-attach-point="hex"
                tabindex=3
                class="span10"
                suppress-validation-messages='{"preActivity": true, "postActivity": true}'
            />
        </div>
    </div>
</div>
