<div class="hide">
    <div data-dojo-attach-point="modal">
        <div class="modal-backdrop"></div>
        <div class="modal-scroll" data-dojo-attach-point="backdrop" data-dojo-attach-event="ondijitclick: onBackdropClick">
            <div class="modal">
                <div class="modal-header">
                    ${!closeButtonTemplate}
                    <h3 data-dojo-attach-point="header"></h3>
                </div>
                <div data-dojo-attach-point="containerNode" class="modal-body">
                </div>
                <div data-dojo-attach-point="footer" class="modal-footer">
                    <w-button type="reset" hotkey="ESCAPE">Close</w-button>
                    <w-button type="submit" class="btn-primary" hotkey="ENTER">Ok</w-button>
                </div>
            </div>
        </div>
    </div>
</div>