<span class="text-editor-toolbar">
    <button data-dojo-type="havok/widget/DropdownToggle" data-dojo-attach-point="font" class="btn">
        <i class="icon-font"></i><span class="caret"></span>
        <ul data-dojo-type="havok/widget/Dropdown" data-dojo-props="store: 'font'"></ul>
    </button>

    <button data-dojo-type="havok/widget/DropdownToggle" data-dojo-attach-point="fontSize" class="btn">
        <i class="icon-text-height"></i><span class="caret"></span>
        <ul data-dojo-type="havok/widget/Dropdown" data-dojo-props="store: 'fontsize'"></ul>
    </button>

    <span data-dojo-type="havok/widget/ButtonGroup" data-dojo-attach-point="style">
        <button
            data-dojo-type="havok/widget/ToggleButton"
            data-dojo-attach-point="bold"
            data-dojo-props="keys: {ctrl: true, char: 'b'}"
        >
            <i class="icon-bold"></i>
        </button>
        <button
            data-dojo-type="havok/widget/ToggleButton"
            data-dojo-attach-point="italic"
            data-dojo-props="keys: {ctrl: true, char: 'i'}"
        >
            <i class="icon-italic"></i>
        </button>
        <button
            data-dojo-type="havok/widget/ToggleButton"
            data-dojo-attach-point="strikeThrough"
        >
            <i class="icon-strikethrough"></i>
        </button>
        <button
            data-dojo-type="havok/widget/ToggleButton"
            data-dojo-attach-point="underline"
            data-dojo-props="keys: {ctrl: true, char: 'u'}"
        >
            <i class="icon-underline"></i>
        </button>
    </span>

    <span data-dojo-type="havok/widget/ButtonGroup" data-dojo-attach-point="align">
        <button
            data-dojo-type="havok/widget/ToggleButton"
            data-dojo-attach-point="justifyleft"
            data-dojo-props="keys: {ctrl: true, char: 'l'}"
        >
            <i class="icon-align-left"></i>
        </button>
        <button
            data-dojo-type="havok/widget/ToggleButton"
            data-dojo-attach-point="justifycenter"
            data-dojo-props="keys: {ctrl: true, char: 'e'}"
        >
            <i class="icon-align-center"></i>
        </button>
        <button
            data-dojo-type="havok/widget/ToggleButton"
            data-dojo-attach-point="justifyright"
            data-dojo-props="keys: {ctrl: true, char: 'r'}"
        >
            <i class="icon-align-right"></i>
        </button>
        <button
            data-dojo-type="havok/widget/ToggleButton"
            data-dojo-attach-point="justifyfull"
            data-dojo-props="keys: {ctrl: true, char: 'j'}"
        >
            <i class="icon-align-justify"></i>
        </button>
    </span>

    <span data-dojo-type="havok/widget/ButtonGroup" data-dojo-attach-point="tab">
        <button
            data-dojo-type="havok/widget/Button"
            data-dojo-attach-point="outdent"
            data-dojo-props="keys: {char: 'TAB', shift: true}"
        >
            <i class="icon-indent-left"></i>
        </button>
        <button
            data-dojo-type="havok/widget/Button"
            data-dojo-attach-point="indent"
            data-dojo-props="keys: {char: 'TAB'}"
        >
            <i class="icon-indent-right"></i>
        </button>
    </span>

    <span data-dojo-type="havok/widget/ButtonGroup" data-dojo-attach-point="list">
        <button
            data-dojo-type="havok/widget/ToggleButton"
            data-dojo-attach-point="insertUnorderedList"
        >
            <i class="icon-list-ul"></i>
        </button>
        <button
            data-dojo-type="havok/widget/ToggleButton"
            data-dojo-attach-point="insertOrderedList"
        >
            <i class="icon-list-ol"></i>
        </button>
    </span>

    <span data-dojo-type="havok/widget/ButtonGroup" data-dojo-attach-point="link">
        <span data-dojo-type="havok/widget/DropdownToggle" data-dojo-attach-point="createLinkDropdown" class="btn">
            <i class="icon-link"></i>
            <div data-dojo-type="havok/widget/DropdownContainer">
                <div data-dojo-type="havok/form/TextBox" data-dojo-attach-point="createLinkTextBox">
                    <input />
                    <button data-dojo-attach-point="createLink">Add</button>
                </div>
            </div>
        </span>
        <button
            data-dojo-type="havok/widget/Button"
            data-dojo-attach-point="unlink"
        >
            <i class="icon-unlink"></i>
        </button>
    </span>

    <span data-dojo-type="havok/widget/ButtonGroup" data-dojo-attach-point="correct">
        <button
            data-dojo-type="havok/widget/Button"
            data-dojo-attach-point="undo"
            data-dojo-props="keys: {ctrl: true, char: 'z'}"
        >
            <i class="icon-undo"></i>
        </button>
        <button
            data-dojo-type="havok/widget/Button"
            data-dojo-attach-point="redo"
            data-dojo-props="keys: {ctrl: true, char: 'y'}"
        >
            <i class="icon-repeat"></i>
        </button>
    </span>

    <span data-dojo-type="havok/widget/ButtonGroup" data-dojo-attach-point="viewGroup">
        <button
            data-dojo-type="havok/widget/ToggleButton"
            data-dojo-attach-point="source"
        >
            <i class="icon-terminal"></i>
        </button>
    </span>

    <span data-dojo-type="havok/widget/DropdownToggle" data-dojo-attach-point="more" class="btn hidden">
        <i class="icon-chevron-down"></i>
        <ul data-dojo-type="havok/widget/Dropdown">
            <li data-dojo-type="havok/widget/DropdownSubmenu" data-dojo-attach-point="moreFont">
                <a href=""><i class="icon-font"></i> font</a>
                <ul data-dojo-type="havok/widget/Dropdown" data-dojo-props="store: 'font'">
                </ul>
            </li>
            <li data-dojo-type="havok/widget/DropdownSubmenu" data-dojo-attach-point="moreFontSize">
                <a><i class="icon-text-height"></i> font size</a>
                <ul data-dojo-type="havok/widget/Dropdown" data-dojo-props="store: 'fontsize'">
                </ul>
            </li>
            <li data-dojo-type="havok/widget/DropdownSubmenu" data-dojo-attach-point="moreStyle">
                <a><i class="icon-bold"></i> style</a>
                <ul data-dojo-type="havok/widget/Dropdown">
                    <li><a data-dojo-attach-point="moreBold" href=""><i class="icon-bold"></i> bold <span class="muted">(ctrl + b)</span></a></li>
                    <li><a data-dojo-attach-point="moreItalic" href=""><i class="icon-italic"></i> italic <span class="muted">(ctrl + i)</span></a></li>
                    <li><a data-dojo-attach-point="moreStrikeThrough" href=""><i class="icon-strikethrough"></i> strikethrough</a></li>
                    <li><a data-dojo-attach-point="moreUnderline" href=""><i class="icon-underline"></i> underline <span class="muted">(ctrl + u)</span></a></li>
                </ul>
            </li>
            <li data-dojo-type="havok/widget/DropdownSubmenu" data-dojo-attach-point="moreAlign">
                <a><i class="icon-align-left"></i> align</a>
                <ul data-dojo-type="havok/widget/Dropdown">
                    <li><a data-dojo-attach-point="moreJustifyleft" href=""><i class="icon-align-left"></i> left <span class="muted">(ctrl + l)</span></a></li>
                    <li><a data-dojo-attach-point="moreJustifycenter" href=""><i class="icon-align-center"></i> center <span class="muted">(ctrl + e)</span></a></li>
                    <li><a data-dojo-attach-point="moreJustifyright" href=""><i class="icon-align-left"></i> right <span class="muted">(ctrl + r)</span></a></li>
                    <li><a data-dojo-attach-point="moreJustifyfull" href=""><i class="icon-align-justify"></i> justify <span class="muted">(ctrl + j)</span></a></li>
                </ul>
            </li>
            <li data-dojo-type="havok/widget/DropdownSubmenu" data-dojo-attach-point="moreTab">
                <a><i class="icon-indent-left"></i> indent</a>
                <ul data-dojo-type="havok/widget/Dropdown">
                    <li><a data-dojo-attach-point="moreIndent" href=""><i class="icon-indent-right"></i> indent <span class="muted">(tab)</span></a></li>
                    <li><a data-dojo-attach-point="moreOutdent" href=""><i class="icon-indent-left"></i> reduce indent <span class="muted">(shift + tab)</span></a></li>
                </ul>
            </li>
            <li data-dojo-type="havok/widget/DropdownSubmenu" data-dojo-attach-point="moreList">
                <a><i class="icon-list-ul"></i> list</a>
                <ul data-dojo-type="havok/widget/Dropdown">
                    <li><a data-dojo-attach-point="moreInsertUnorderedList" href=""><i class="icon-list-ul"></i> bullet list</a></li>
                    <li><a data-dojo-attach-point="moreInsertOrderedList" href=""><i class="icon-list-ol"></i> number list</a></li>
                </ul>
            </li>
            <li data-dojo-type="havok/widget/DropdownSubmenu" data-dojo-attach-point="moreLink">
                <a><i class="icon-link"></i> hyperlink</a>
                <ul data-dojo-type="havok/widget/Dropdown">
                    <li data-dojo-type="havok/widget/DropdownSubmenu">
                        <a href=""><i class="icon-link"> create</i></a>
                        <div data-dojo-type="havok/widget/DropdownContainer">
                            <div data-dojo-type="havok/form/TextBox" data-dojo-attach-point="moreCreateLinkTextBox">
                                <input />
                                <button data-dojo-attach-point="moreCreateLink">Add</button>
                            </div>
                        </div>
                    </li>
                    <li><a data-dojo-attach-point="moreUnlink" href=""><i class="icon-unlink"></i> remove</a></li>
                </ul>
            </li>
            <li data-dojo-type="havok/widget/DropdownSubmenu" data-dojo-attach-point="moreCorrect">
                <a><i class="icon-undo"></i> correct</a>
                <ul data-dojo-type="havok/widget/Dropdown">
                    <li><a data-dojo-attach-point="moreUndo" href=""><i class="icon-undo"></i> undo <span class="muted">(ctrl + z)</span></a></li>
                    <li><a data-dojo-attach-point="moreRedo" href=""><i class="icon-repeat"></i> redo <span class="muted">(ctrl + y)</span></a></li>
                </ul>
            </li>
            <li data-dojo-type="havok/widget/DropdownSubmenu" data-dojo-attach-point="moreViewGroup">
                <a><i class="icon-terminal"></i> view</a>
                <ul data-dojo-type="havok/widget/Dropdown">
                    <li><a data-dojo-attach-point="moreSource" href=""><i class="icon-terminal"></i> source</a></li>
                </ul>
            </li>
         </ul>
    </span>
</span>
