<h1>Credit Card Expiry</h1>

<div class="bs-docs-example">
    <d-formspy class="form-horizontal">
        <f-credit-card-expiry label="Card Expiry" help-messages="please select your credit card expiry date"></f-credit-card-expiry>
    </d-formspy>
</div>

<pre class="prettyprint linenums">
{% set creditCardExpiryExample1 %}
<f-credit-card-expiry label="Card Expiry" help-messages="please select your credit card expiry date"></f-credit-card-expiry>{% endset %}{{creditCardExpiryExample1|e}}
</pre>
