<h1>Date Textbox</h1>

<p><code>havok/form/DateTextbox</code> extends <code>havok/form/ValidationTextbox</code> to give date picking ability.</p>

<h2>Example</h2>
<div class="bs-docs-example">
    <d-formspy class="form-horizontal">
        <f-date-textbox label="Date" help-messages="pick a date"></f-date-textbox>
    </d-formspy>
</div>

<pre class="prettyprint linenums">
{% set dateTextboxExample1 %}
<f-date-textbox label="Date" help-messages="pick a date"></f-date-textbox>{% endset %}{{dateTextboxExample1|e}}
</pre>

<h2>Example with preset value</h2>
<div class="bs-docs-example">
    <d-formspy class="form-horizontal">
        <f-date-textbox label="Date" help-messages="pick a date" value="2020-01-01T14:00:00.000Z"></f-date-textbox>
    </d-formspy>
</div>

<pre class="prettyprint linenums">
{% set dateTextboxExample2 %}
<f-date-textbox label="Date" help-messages="pick a date" value="2020-01-01T14:00:00.000Z"></f-date-textbox>{% endset %}{{dateTextboxExample2|e}}
</pre>
