<h1>Password Text Box</h1>

<p><code>f-password-textbox</code> will create a <a href="/api/havok/form/PasswordTextBox.html">havok/form/PasswordTextBox</a> which extends <a href="/api/havok/form/ValidationTextBox.html">havok/form/ValidationTextBox</a> with Required and Password validators already set.</p>

<h2>Example</h2>
<div class="bs-docs-example">
    <d-formspy class="form-horizontal">
        <f-password-textbox label="Password"></f-password-textbox>
    </d-formspy>
</div>

<pre class="prettyprint linenums">
{% set passwordTextboxExample1 %}
<f-password-textbox label="Password"></f-password-textbox>{% endset %}{{passwordTextboxExample1|e}}
</pre>
