<div class="well">
    <h1>Config Merger</h1>

    <p class="lead">Create a merged dojo config object from many different modules.</p>

    <p>When you require <a href="/api/dojo/_base/config.html">dojo/_base/config</a> you get back the dojo configuration object. Modules requiring configuration often use their own extensions to this object. Some havok modules, notably <a href="/api/havok/di/Di.html">havok/di/Di</a> and <a href="/api/havok/less.html">havok/less</a> use this pattern.</p>

    <p>The modules in the <code>havok/config</code> namespace allow you to build up the config object from multiple sources, and allows one config to be overridden by another - particularly useful for development or testing environments.</p>

    <p>In your dojoConfig object, use the <code>merge</code> key to specify the config modules to be merged in. Eg:</p>

    <pre class="prettyprint linenums">
dojoConfig = {
    isDebug: true,
    popup: true,
    async: true,
    merge: [
        'MyNamespace/Config1',
        'MyNamespace/Config2'
    ]
}</pre>

    <h2>Merging</h2>

    <p>The config modules can be loaded and merged using the <code>merge</code> function of <a href="/api/havok/config/manager.html">havok/config/manager</a>.

    <p>The `merge()` function will return a <a href="/api/dojo/Deferred">dojo/Deferred</a> object which will resolve when the config merge is complete.</p>

    <pre class="prettyprint linenums">
require(['havok/config/manager'], function(configManager){
    configManager.merge().then(function(){
        //config merge complete
    })
}</pre>


    <h2>The ready! plugin</h2>

    <p>Alternatively, config modules can be merged using the <a href="/api/havok/config/ready">havok/config/ready!</a> AMD plugin. The plugin will not return until configs are merged.</p>

    <pre class="prettyprint linenums">
require(['havok/config/ready!'], function(){
    //Do something
}</pre>

    <h2>Builds</h2>

    <p>If you use the havok <a href="/builds.html">build tool</a>, it will merge all configs during the build, so that config merging does not happen in production (highly recommended for improved performance).</p>

    <h2>See also</h2>

    <p>Api documentation:</p>
    <ul>
        <li><a href="/api/havok/config/manager.html">havok/config/manager</a></li>
        <li><a href="/api/havok/router/ready.html">havok/config/ready</a></li>
    </ul>
</div>
