{% extends "_page-content.twig" %}

{% set title='Builds' %}
{% set byline='Make your production code small and fast.' %}

{% block mainContent %}
    <section id="overview" title="Overview">{% include 'builds/overview.twig' %}</section>
    <section id="build-config" title="Build Config">{% include 'builds/build-config.twig' %}</section>
    <section id="profile" title="Profile">{% include 'builds/profile.twig' %}</section>
    <section id="preprocessor" title="Preprocessor">{% include 'builds/preprocessor.twig' %}</section>
    <section id="build" title="Build">{% include 'builds/build.twig' %}</section>
    <section id="deploy" title="Deploy">{% include 'builds/deploy.twig' %}</section>
{% endblock %}
