{% extends "pageContent.twig" %}

{% set title='Dependency Injection' %}
{% set byline='Your gateway to loosely coupled and flexible code.' %}

{% block mainContent %}
    <section id="overview" title="Overview">{% include 'di/overview.twig' %}</section>
    <section id="config-format" title="Config Format">{% include 'di/config-format.twig' %}</section>
    <section id="base" title="base">{% include 'di/base.twig' %}</section>
    <section id="params" title="params">{% include 'di/params.twig' %}</section>
    <section id="gets" title="gets">{% include 'di/gets.twig' %}</section>
    <section id="proxies" title="proxies">{% include 'di/proxies.twig' %}</section>
    <section id="directives" title="Directives">{% include 'di/directives.twig' %}</section>
    <section id="injecting-arrays" title="Injecting Arrays">{% include 'di/injecting-arrays.twig' %}</section>
    <section id="proxy-objects" title="Proxy Objects">{% include 'di/proxy-objects.twig' %}</section>
    <section id="plugins" title="Plugins">{% include 'di/plugins.twig' %}</section>
    <section id="build" title="Build">{% include 'di/build.twig' %}</section>
{% endblock %}
