{% extends "_page-content.twig" %}

{% set title='Forms' %}
{% set byline='Dozens of reusable input widgets to prompt and validate all sorts of data.' %}

{% block mainContent %}
<!--//        include 'forms/using-forms.php';
//        include 'forms/using-form-widgets.php';


//        include 'forms/date-textbox.php';
//        include 'forms/password-textbox.php';
//        include 'forms/email-textbox.php';
//        include 'forms/textarea.php';
//        include 'forms/text-editor.php';-->
    <section id="textbox" title="Textbox"><div class="well">{% include 'forms/textbox.twig' %}</div></section>
    <section id="validation-textbox" title="Validation Textbox"><div class="well">{% include 'forms/validation-textbox.twig' %}</div></section>
    <section id="number-textbox" title="Number Textbox"><div class="well">{% include 'forms/number-textbox.twig' %}</div></section>
    <section id="currency-textbox" title="Currency Textbox"><div class="well">{% include 'forms/currency-textbox.twig' %}</div></section>


    <section id="check-and-radio" title="Check and Radio"><div class="well">{% include 'forms/check-and-radio.twig' %}</div></section>
<!--//        include 'forms/select.php';
//        include 'forms/typeahead.php';
//        include 'forms/color.php';
//        include 'forms/validation-group.php';
//        include 'forms/credit-card-expiry.php';-->
{% endblock %}

