{% extends "_page-content.twig" %}

{% set title='Forms' %}
{% set byline='Dozens of reusable input widgets to prompt and validate all sorts of data.' %}

{% block mainContent %}
<!--//        include 'forms/using-forms.php';
//        include 'forms/using-form-widgets.php';



//        include 'forms/textarea.php';
//        include 'forms/text-editor.php';-->

    <section id="date-textbox" title="Date Textbox"><div class="well">{% include 'forms/date-textbox.twig' %}</div></section>

<!--//        include 'forms/select.php';
//        include 'forms/typeahead.php';
//        include 'forms/color.php';
//        include 'forms/validation-group.php';
//        include 'forms/credit-card-expiry.php';-->
{% endblock %}

