{% extends "_page-content.twig" %}

{% set title='Forms' %}
{% set byline='Dozens of reusable input widgets to prompt and validate all sorts of data.' %}

{% block mainContent %}
<!--//        include 'forms/using-forms.php';
//        include 'forms/using-form-widgets.php';


//        include 'forms/text-editor.php';-->

    <section id="textbox" title="Textbox"><div class="well">{% include 'forms/textbox.twig' %}</div></section>
    <section id="validation-textbox" title="Validation Textbox"><div class="well">{% include 'forms/validation-textbox.twig' %}</div></section>
    <section id="number-textbox" title="Number Textbox"><div class="well">{% include 'forms/number-textbox.twig' %}</div></section>
    <section id="currency-textbox" title="Currency Textbox"><div class="well">{% include 'forms/currency-textbox.twig' %}</div></section>
    <section id="date-textbox" title="Date Textbox"><div class="well">{% include 'forms/date-textbox.twig' %}</div></section>
    <section id="password-textbox" title="Password Textbox"><div class="well">{% include 'forms/password-textbox.twig' %}</div></section>
    <section id="email-textbox" title="Email Textbox"><div class="well">{% include 'forms/email-textbox.twig' %}</div></section>
    <section id="textarea" title="Textarea"><div class="well">{% include 'forms/textarea.twig' %}</div></section>

    <section id="check-and-radio" title="Check and Radio"><div class="well">{% include 'forms/check-and-radio.twig' %}</div></section>

    <section id="select" title="Select"><div class="well">{% include 'forms/select.twig' %}</div></section>


    <section id="validation-group" title="Validation Group"><div class="well">{% include 'forms/validation-group.twig' %}</div></section>
    <section id="credit-card-expiry" title="Credit Card Expiry"><div class="well">{% include 'forms/credit-card-expiry.twig' %}</div></section>

<!--//
//        include 'forms/typeahead.php';
//        include 'forms/color.php';

//        include 'forms/credit-card-expiry.php';-->
{% endblock %}

