{% extends "page-content.twig" %}

{% set title='Forms' %}
{% set byline='Dozens of reusable input widgets to prompt and validate all sorts of data.' %}

{% block mainContent %}
<!--//        include 'forms/using-forms.php';
//        include 'forms/using-form-widgets.php';
//        include 'forms/textbox.php';
//        include 'forms/validation-textbox.php';
//        include 'forms/number-textbox.php';
//        include 'forms/currency-textbox.php';
//        include 'forms/date-textbox.php';
//        include 'forms/password-textbox.php';
//        include 'forms/email-textbox.php';
//        include 'forms/textarea.php';
//        include 'forms/text-editor.php';-->
    <section id="check-and-radio" title="Check and Radio">{% include 'forms/check-and-radio.twig' %}</section>
<!--//        include 'forms/select.php';
//        include 'forms/typeahead.php';
//        include 'forms/color.php';
//        include 'forms/validation-group.php';
//        include 'forms/credit-card-expiry.php';-->
{% endblock %}

