<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Havok by Zoop</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="Tim Roediger">

        <link href="/favicon.png" type="image/png" rel="shortcut icon">
        <link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,300,700" rel="stylesheet" type="text/css">

        <!--Must be placed in head for layout and parser to work in ie8 -->
        <!--[if lt IE 9]>
            <script src="../../../havok/parser/ie8shim.js"></script>
        <![endif]-->

        {% if false %}
        <link rel="stylesheet" href="havokdocs.css">
        <script src="js/havokdocs.js"></script>
        {% else %}
        <script type="text/javascript">
            dojoConfig = {
                isDebug: true,
                selectorEngine: "lite",
                locale: 'en-au',
                async: true,
                merge: [
                    'havok/config',
                    'havok/docs/module/config'
                ]
            }
            </script>
            <script src="/dojo/dojo.js"></script>
        {% endif %}

            <script type="text/javascript">require(['havok/bootstrap!', 'havok/vendor/prettify/prettify'], function(){prettyPrint()})</script>
        </head>

        <body id="docBody">

        {% include 'top-nav.twig' %}

        <div data-dojo-type="havok/docs/module/Feedback"
             bug-link="http://github.com/zoopcommerce/havok/issues"
             issues-link="http://github.com/zoopcommerce/havok/issues"
             fork-link="http://github.com/zoopcommerce/havok/fork"
        ></div>

        <div id="contentWrapper">
            {% block pageContent %}
                <h1>Havok by Zoop</h1>
            {% endblock %}
        </div>

        <overlay id="contentWrapperOverlay" target="docBody">Loading more havok...</overlay>

        <footer class="footer">
            <div class="container">
                <p>Created by <a href="http://github.com/superdweebie">@superdweebie</a> and <a href="http://github.com/crimsonronin">@crimsonronin</a>.</p>
                <p>Code licensed under MIT.</p>
                <p>Built on the shoulders of giants <a href="http://twitter.github.io/bootstrap">bootstrap</a> and <a href="http://dojotoolkit.org">dojo</a>.</p>
                <ul class="footer-links">
                    <li><a href="http://zoopcommerce.com">Zoop</a></li>
                    <li class="muted">&middot;</li>
                    <li><a href="https://github.com/zoopcommerce/havok/issues?state=open">Issues</a></li>
                    <li class="muted">&middot;</li>
                    <li><a href="https://github.com/zoopcommerce/havok/blob/master/CHANGELOG.md">Changelog</a></li>
                </ul>
            </div>
        </footer>
    </body>
</html>
