<div class="span3 bs-docs-sidebar">

  <nav-list
      mixins                 = "affix scrollspy"
      item-template          = "&lt;li spy-target=&quot;${id}&quot;&gt;&lt;a role=&quot;navitem&quot; href=&quot;#${id}&quot;&gt;&lt;i class=&quot;icon-chevron-right&quot;&gt;&lt;/i&gt; ${text}&lt;/a&gt;&lt;/li&gt;"
      viewport-offset-top    = 40
      affix-target           = "mainContent"
      spy-target             = "mainContent"
      class                  = "nav-stacked bs-docs-sidenav"
  >
  </nav-list>

</div>
