<nav-bar class="navbar navbar-fixed-top">
        <a class="top-nav-toggle" data-havok-nav-bar-toggle>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <a class="brand pull-left" href="./index.html">{% include 'logo.twig' %}</a>
        <div data-havok-nav-bar-toggle-target>
            <nav-bar-links id="topNav">
                <a href="/index.html">Home</a>
                <a href="/getting-started.html">Get started</a>
                <a href="/widgets.html">Widgets</a>
                <a href="/forms.html">Forms</a>
                <a href="/data-quality.html">Data Quality</a>
                <a href="/services.html">Services</a>
                <a href="/di.html">DI</a>
                <a href="/builds.html">Builds</a>
                <a href="/api.html">API</a>
            </nav-bar-links>
        </div>
</nav-bar>
