{% extends "_page-content.twig" %}

{% set title='Widgets' %}
{% set byline='Dozens of reusable widgets built to provide navigation, alerts, text editing, and more.' %}

{% block mainContent %}
<!--    <section id="using-widgets" title="Using Widgets">{#% include 'widgets/using-widgets.twig' %}</section>-->
    <section id="stores" title="Stores">{% include 'widgets/stores.twig' %}</section>

    <section id="dropdowns" title="Dropdowns"><div class="well">{% include 'widgets/dropdowns.twig' %}</div></section>
    <section id="dropdown-toggle" title="Dropdown Toggles"><div class="well">{% include 'widgets/dropdown-toggle.twig' %}</div></section>

    <section id="navbar" title="Navbar"><div class="well">{% include 'widgets/navbar.twig' %}</div></section>

    <section id="tooltips" title="Tooltips"><div class="well">{% include 'widgets/tooltips.twig' %}</div></section>
    <section id="overlay" title="Overlay"><div class="well">{% include 'widgets/overlay.twig' %}</div></section>
    <section id="alerts" title="Alerts"><div class="well">{% include 'widgets/alerts.twig' %}</div></section>
    <section id="drag-sort" title="Drag and Sort"><div class="well">{% include 'widgets/drag-sort.twig' %}</div></section>
    <section id="affix" title="Affix"><div class="well">{% include 'widgets/affix.twig' %}</div></section>
    <section id="scrollspy" title="Scrollspy"><div class="well">{% include 'widgets/scrollspy.twig' %}</div></section>

    <section id="navs" title="Navs"><div class="well">{% include 'widgets/navs.twig' %}</div></section>
    <section id="tabs-accordion" title="Tabs and Accordion"><div class="well">{% include 'widgets/tabs-accordion.twig' %}</div></section>

    <section id="modals" title="Modals"><div class="well">{% include 'widgets/modals.twig' %#}</div></section>
    -->

    <section id="buttons" title="Buttons"><div class="well">{% include 'widgets/buttons.twig' %}</div></section>

    {#% include 'widgets/carousel.twig' %}
    {% include 'widgets/text-editor.twig' %#}
{% endblock %}
