{% extends "page-content.twig" %}

{% set title='Widgets' %}
{% set byline='Dozens of reusable widgets built to provide navigation, alerts, text editing, and more.' %}

{% block mainContent %}
<!--    <section id="using-widgets" title="Using Widgets">{#% include 'widgets/using-widgets.twig' %}</section>-->
    <section id="stores" title="Stores">{% include 'widgets/stores.twig' %}</section>


    <section id="buttons" title="Buttons">{% include 'widgets/buttons.twig' %}</section>
    <section id="navs" title="Navs">{% include 'widgets/navs.twig' %}</section>
    <section id="tabs" title="Tabs">{% include 'widgets/tabs.twig' %}</section>
    <section id="navbar" title="Navbar">{% include 'widgets/navbar.twig' %}</section>
    <section id="tree" title="Tree">{% include 'widgets/tree.twig' %}</section>
    {#% include 'widgets/sortable.twig' %}
    {% include 'widgets/affix.twig' %}
    {% include 'widgets/scrollspy.twig' %}
    <section id="modals" title="Modals"><div class="well">{% include 'widgets/modals.twig' %}</div></section>


    {% include 'widgets/alerts.twig' %#}-->
    <section id="dropdowns" title="Dropdowns"><div class="well">{% include 'widgets/dropdowns.twig' %}</div></section>
    <section id="dropdown-toggle" title="Dropdown Toggles"><div class="well">{% include 'widgets/dropdown-toggle.twig' %}</div></section>

    <section id="tooltips" title="Tooltips"><div class="well">{% include 'widgets/tooltips.twig' %}</div></section>
    <section id="accordion" title="Accordion"><div class="well">{% include 'widgets/accordion.twig' %}</div></section>
    <section id="overlay" title="Overlay"><div class="well">{% include 'widgets/overlay.twig' %}</div></section>
    {#% include 'widgets/dragable.twig' %}
    {% include 'widgets/carousel.twig' %}
    {% include 'widgets/text-editor.twig' %#}
{% endblock %}
