<h1>File structure</h1>

<p>If you have downloaded the source you'll find the following file structure and contents:</p>

<pre>
havok/
├── build/     havok build tools
├── dist/      compressed build which includes every havok component and supporting css
├── docs/      unbuilt documentation files
├── test/      havok unit tests
└── ...        pretty much all other files are havok modules
</pre>
