<h1>File structure</h1>

<p>If you have downloaded the source you'll find the following file structure and contents:</p>

<pre>
havok/
├── .travis/   scripts used by travis.ci
├── build/     havok build tools
├── dev/       tools for developing havok itself
├── dist/      compressed build which includes every havok component and supporting css
├── docs/      unbuilt documentation files
├── lib/       all havok modules live here
└── test/      havok unit tests
</pre>
