<h1>What's Included</h1>

<h2>Docs sections</h2>
<h4><a href="./widgets.html">Widgets</a></h4>
<p>Examples and documentation for all the general purpose widgets bundled with havok.</p>

<h4><a href="./forms.html">Forms</a></h4>
<p>Examples and documentation for all the form widgets bundled with havok.</p>

<h4><a href="./stores.html">Stores</a></h4>
<p>Intoduction to havok data stores and examples of using them with widgets.</p>

<h4><a href="./data-quality.html">Data Quality</a></h4>
<p>Reference for filters and validators that can be used on form widgets.</p>

<h4><a href="./services.html">Services</a></h4>
<p>Useful background services that make havok go, including less compilation during development, config merging, exception handling and more.</p>

<h4><a href="./di.html">DI</a></h4>
<p>Extensive reference on Havok dependency injection, why it is awesome and how to use it.</p>

<h4><a href="./builds.html">Builds</a></h4>
<p>How to use the Havok build tools to prepare your site for deployment.</p>

<h4><a href="./api.html">API</a></h4>
<p>API reference for all Havok modules and their dependencies.</p>

<h4><a href="./dev.html">Builds</a></h4>
<p>How to contribute to havok itself.</p>