{% extends "_page-content.twig" %}

{% set title='Forms' %}
{% set byline='Dozens of reusable input widgets to prompt and validate all sorts of data.' %}

{% block mainContent %}
    <section id="textbox" title="Textbox"><div class="well">{% include 'forms/textbox.twig' %}</div></section>
    <section id="validation-textbox" title="Validation Textbox"><div class="well">{% include 'forms/validation-textbox.twig' %}</div></section>
    <section id="number" title="Number Textbox"><div class="well">{% include 'forms/number-textbox.twig' %}</div></section>
    <section id="currency" title="Currency Textbox"><div class="well">{% include 'forms/currency-textbox.twig' %}</div></section>
    <section id="date" title="Date Textbox"><div class="well">{% include 'forms/date-textbox.twig' %}</div></section>
    <section id="password" title="Password Textbox"><div class="well">{% include 'forms/password-textbox.twig' %}</div></section>
    <section id="email" title="Email Textbox"><div class="well">{% include 'forms/email-textbox.twig' %}</div></section>
    <section id="textarea" title="Textarea"><div class="well">{% include 'forms/textarea.twig' %}</div></section>
    <section id="text-editor" title="Text Editor"><div class="well">{% include 'forms/text-editor.twig' %}</div></section>
{% endblock %}
