{% extends "_page-content.twig" %}

{% set title='Getting Started' %}
{% set byline='An overview of Havok' %}

{% block mainContent %}
    <section id="download" title="Download"><div class="well">{% include 'getting-started/download.twig' %}</div></section>
    <section id="file-structure" title="File Structure"><div class="well">{% include 'getting-started/file-structure.twig' %}</div></section>
    <section id="whats-included" title="What's Included"><div class="well">{% include 'getting-started/whats-included.twig' %}</div></section>
    <section id="loading" title="Loading"><div class="well">{% include 'getting-started/loading.twig' %}</div></section>
    <section id="using-havok" title="Using Havok"><div class="well">{% include 'getting-started/using-havok.twig' %}</div></section>
    <section id="what-next" title="What Next"><div class="well">{% include 'getting-started/what-next.twig' %}</div></section>
{% endblock %}
