
        <section id="dragable" title="Dragable">
          <div class="page-header">
            <h1>Dragable</h1>
          </div>

            <p><code>havok/dnd/Dragable</code> makes an element dragable.</p>

          <h2>Example</h2>
          <div class="bs-docs-example">
                <div class="label label-info" data-dojo-type="havok/widget/Dragable">Drag me!</div>
          </div>

<pre class="prettyprint linenums">
&lt;div class=&quot;label label-info&quot; data-dojo-type=&quot;havok/widget/Dragable&quot;&gt;Drag me!&lt;/div&gt;
</pre>

          <h2>Grip</h2>
          <p>Add a <code>data-dojo-attach-point="grip"</code> to indicate a drag grip.</p>
          <div class="bs-docs-example">
             <div class="label label-info" data-dojo-type="havok/widget/Dragable">Drag me! <i class="icon-move icon-white" data-dojo-attach-point="grip"></i></div>
          </div>

<pre class="prettyprint linenums">
&lt;div class=&quot;label label-info&quot; data-dojo-type=&quot;havok/widget/Dragable&quot;&gt;Drag me! &lt;i class=&quot;icon-move icon-white&quot; data-dojo-attach-point=&quot;grip&quot;&gt;&lt;/i&gt;&lt;/div&gt;
</pre>
        </section>
