
        <section id="dropdownToggle" title="Dropdown Toggle">
          <div class="page-header">
            <h1>Dropdown Toggle</h1>
          </div>

          <p>Use <code>dropdown-toggle</code> to make a <code>havok/widget/Dropdown</code> show and hide.</p>

  <h2>Properties</h2>

            <table class="table table-bordered table-striped">
              <thead>
               <tr>
                 <th style="width: 100px;">Name</th>
                 <th style="width: 50px;">type</th>
                 <th style="width: 50px;">default</th>
                 <th>description</th>
               </tr>
              </thead>
              <tbody>
               <tr>
                 <td>dropdown</td>
                 <td>object</td>
                 <td>undefined</td>
                 <td>Reference to the Dropdown widget which the DropdownToggle encloses.</td>
               </tr>
               <tr>
                 <td>placement</td>
                 <td>object</td>
                 <td><code>{toggle: 'bottom-left', dropdown: 'top-left'}</code></td>
                 <td>Defines where the dropdown will be placed when it is opened. The <code>toggle</code> defines the corner of the toggle button that will be used for placement. The <code>dropdown</code> defines the corner of the dropdown that will be used for placement. By default the top-left corner of the dropdown is aligned with the bottom-left corner of the toggle. Note that placement will be automatically adjusted if the dropdown will be clipped by and edge of the viewport.</td>
               </tr>
                <tr>
                    <td>templateString</td>
                    <td>string</td>
                    <td>content of <code>havok/widget/template/DropdownToggle.html<code></td>
                    <td>The base template for a DropdownToggle.</td>
                </tr>
              </tbody>
            </table>

          <h2>Methods</h2>

<table class="table table-bordered table-striped">
  <thead>
   <tr>
     <th style="width: 100px;">name</th>
     <th style="width: 100px;">args</th>
     <th>description</th>
   </tr>
  </thead>
  <tbody>
    <tr>
        <td>.show()</td>
        <td>-</td>
        <td>Shows the enclosed Dropdown</td>
    </tr>
    <tr>
        <td>.hide()</td>
        <td>-</td>
        <td>Hides the enclosed Dropdown.</td>
    </tr>
    <tr>
        <td>.toggle()</td>
        <td>-</td>
        <td>Toggles the enclosed Dropdown.</td>
    </tr>
  </tbody>
</table>

  <h2>Events</h2>

<table class="table table-bordered table-striped">
  <thead>
   <tr>
     <th style="width: 100px;">name</th>
     <th>description</th>
   </tr>
  </thead>
  <tbody>
    <tr>
        <td>item-click</td>
        <td>Fires when an item is clicked.</td>
    </tr>
  </tbody>
</table>

          <h2>Examples</h2>

          <h3>Within a navbar</h3>
          <div class="bs-docs-example">
            <div id="navbar-example" class="navbar navbar-static">
              <div class="navbar-inner">
                <div class="container" style="width: auto;">
                  <a class="brand" href="">Project Name</a>
                  <ul class="nav" role="navigation">
                    <dropdown-toggle>
                      <a href="">Dropdown <b class="caret"></b></a>
                      <dropdown>
                        <a href="http://google.com">Action</a>
                        <a href="anotherAction">Another action</a>
                        <a href="">Something else here</a>
                        <hr />
                        <a href="">Separated link</a>
                      </dropdown>
                    </dropdown-toggle>
                    <dropdown-toggle>
                      <a href="">Dropdown Container<b class="caret"></b></a>
                      <dropdown-container>
                          <h5>Stuff here</h5>
                          <p>This is stuff inside a dropdown</p>
                      </dropdown-container>
                    </dropdown-toggle>
                  </ul>
                  <ul class="nav pull-right">
                    <dropdown-toggle>
                      <a href="" >Dropdown Right <b class="caret"></b></a>
                      <dropdown>
                        <a href="">Action</a>
                        <a href="">Another action</a>
                        <a href="">Something else here</a>
                        <hr />
                        <a href="">Separated link</a>
                      </dropdown>
                    </dropdown-toggle>
                  </ul>
                </div>
              </div>
            </div>
          </div>
<pre class="prettyprint linenums">

</pre>

          <h3>Within pills</h3>
          <div class="bs-docs-example">
            <ul class="nav nav-pills">
              <li class="active"><a href="">Regular link</a></li>
              <dropdown-toggle>
                <a href="">Dropdown <b class="caret"></b></a>
                <dropdown>
                    <a href="">Action</a>
                    <a href="">Another action</a>
                    <a href="">Something else here</a>
                    <hr />
                    <a href="">Separated link</a>
                </dropdown>
              </dropdown-toggle>
              <dropdown-toggle>
                <a href="">Dropdown 2 <b class="caret"></b></a>
                <dropdown>
                    <a href="">Action</a>
                    <a href="">Another action</a>
                    <a href="">Something else here</a>
                    <hr />
                    <a href="">Separated link</a>
                </dropdown>
              </dropdown-toggle>
              <dropdown-toggle>
                <a href="">Dropdown 3 <b class="caret"></b></a>
                <dropdown>
                    <a href="">Action</a>
                    <a href="">Another action</a>
                    <a href="">Something else here</a>
                    <hr />
                    <a href="">Separated link</a>
                </dropdown>
              </dropdown-toggle>
            </ul>
          </div>

          <h3>Within overflow hidden element</h3>
          <p>The Dropdown dom nodes is moved to the end of the document, removing any clipping problems, or display issues with dropdowns in modals.</p>
          <div class="bs-docs-example">
              <div style="width: 100px; overflow: hidden">
                    <dropdown-toggle style="width:300px">
                      <button class="btn">Dropdown <b class="caret"></b></button>
                      <dropdown>
                          <a href="">Action</a>
                          <a href="">Another action</a>
                          <a href="">Something else here</a>
                          <hr />
                          <a href="">Separated link</a>
                      </dropdown>
                    </dropdown-toggle>
                  <p style="width:300px">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.</p>
              </div>
          </div>

          <hr class="bs-docs-separator">


          <h2>Usage</h2>

          <h3>Declarative</h3>
          <p>The first child element inside a <code>havok/widget/DropdownToggle</code> is the `button` which will toggle the dropdown. The first <code>havok/widget/Dropdown</code> child widget inside a <code>havok/widget/DropdownToggle</code> will be toggled.</p>
<pre class="prettyprint linenums">

</pre>
          <h3>Programatic</h3>

          <p>To create a <code>havok/widget/DropdownToggle</code> programatically, pass an instance of <code>havok/widget/_BaseDropdown</code> to the <code>dropdown</code> property, and the markup to create the button to the <code>innerHTML</code> property.</p>
          <div class="bs-docs-example">
            <div id="dropdownPosition1">
                <script type="text/javascript">
                    require([
                        'dojo/dom',
                        'dojo/dom-construct',
                        'havok/widget/Dropdown',
                        'havok/widget/DropdownToggle',
                        'dojo/domReady!'
                    ],
                    function(
                        dom,
                        domConstruct,
                        Dropdown,
                        DropdownToggle
                    ){
                        //create the button
                        var button = domConstruct.place('<button class="btn">Click me</button>', dom.byId('dropdownPosition1'));

                        //create the dropdown
                        var dropdown = new Dropdown;
                        dropdown.addItem('<a href="">Action</a>');
                        dropdown.addItem('<a href="">Another Action</a>');
                        dropdown.addItem('<a href="">Something else here</a>');
                        dropdown.addItem('<hr />');
                        dropdown.addItem('<a href="">Separated Link</a>');
                        dom.byId('dropdownPosition1').appendChild(dropdown.domNode);

                        //create and start the dropdown toggle
                        var dropdownToggle = new DropdownToggle({dropdown: dropdown, button: button});
                        dom.byId('dropdownPosition1').appendChild(dropdownToggle.domNode);
                        dropdownToggle.startup();
                    })
                </script>
            </div>
          </div>
<pre class="prettyprint linenums">

</pre>

          <h3>Fine grained control</h3>

          <p>Use attach points to control exactly which element in the markup will respond to a click.</p>
          <div class="bs-docs-example">
            <dropdown-toggle class="well">
              <p>Extra text</p>
              <button dropdown-toggle-target class="btn">Show Dropdown</button>
              <dropdown>
                  <a href="">Action</a>
                  <a href="">Another action</a>
                  <a href="">Something else here</a>
                  <hr />
                  <a href="">Separated link</a>
              </dropdown>
            </dropdown-toggle>
          </div>
<pre class="prettyprint linenums">

</pre>

        </section>