<h1>Overlay</h1>

<p>Use the <code>overlay</code> tag to create a <a href="/api/havok/widget/Overlay.html">havok/widget/Overlay</a>. A widget designed to act as a Standby/Busy/Disable/Blocking widget to indicate a particular DOM node is processing and cannot be clicked on at this time.</p>
<p>An Overlay will always overlay it's parent dom node.</p>

<h2>Example</h2>
<div class="bs-docs-example">
    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
    <overlay id="overlay1">This is overlayed</overlay>
</p>
<toggle-button id="overlayToggle1">Toggle overlay</toggle-button>
<script>
    require(['dijit/registry', 'havok/bootstrap!'], function(registry){
        registry.byId('overlayToggle1').watch('active', function(){
            registry.byId('overlay1').toggle();
        });
    })
    </script>
</div>

<pre class="prettyprint linenums">{% set overlayExample1 %}
<p>Anim pariatur cliche ...
    <overlay id="overlay1">This is overlayed</overlay>
</p>{% endset %}{{overlayExample1|e}}
</pre>

<h2>With a wait cursor</h2>
<div class="bs-docs-example">
    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
    <overlay id="overlay2" class="wait">This is overlayed</overlay>
</p>
<button id="overlayToggle2" data-dojo-type="havok/widget/ToggleButton">Toggle overlay</button>
<script>
    require(['dijit/registry'], function(registry){
        registry.byId('overlayToggle2').watch('active', function(){
            registry.byId('overlay2').toggle();
        });
    })
    </script>
</div>

<pre class="prettyprint linenums">{% set overlayExample2 %}
<p>Anim pariatur cliche ...
    <overlay id="overlay2" class="wait">This is overlayed</overlay>
</p>{% endset %}{{overlayExample2|e}}
</pre>

<h2>Overlay whole viewport</h2>
<p>To overlay the whole viewport, place the overlay as the direct child of the <code>body</code> tag.</p>

<div class="bs-docs-example">
    <button id="overlay3hide" class="btn">Hide overlay</button>
    <button id="overlay3show" class="btn">Show overlay</button>
    <script>
        require(['dojo/dom-construct', 'dojo/dom', 'dojo/on', 'havok/widget/Overlay'], function(domConstruct, dom, on, Overlay){
            var overlay = new Overlay;
            domConstruct.place(dom.byId('overlay3hide'), overlay.containerNode);
            domConstruct.place(overlay.domNode, document.body);
            overlay.startup();
            on(dom.byId('overlay3show'), 'click', function(){
                overlay.show();
            });
            on(dom.byId('overlay3hide'), 'click', function(){
                overlay.hide();
            });
        })
        </script>
    </div>

    <pre class="prettyprint linenums">{% set overlayExample3 %}
<body>
    ...
    <overlay id="overlay3">This is overlayed</overlay>
</body>{% endset %}{{overlayExample3|e}}
</pre>

<h2>See also</h2>

<p>Api documentation:</p>
<ul>
    <li><a href="/api/havok/widget/Overlay.html">havok/widget/Overlay</a></li>
</ul>