        <section id="tabs" title="Tabs">
          <div class="page-header">
            <h1>Tabs</h1>
          </div>

          <p>Bring your tabs to life with <code>havok/widget/TabContainer</code>.</p>

          <h3>Tabbable example</h3>
          <p>The <code>title</code> attribute will be used to create an instance of <code>havok/widget/NavTab</code>.</p>
          <div class="bs-docs-example">
            <tab-container style="margin-bottom: 18px;">
                <div title="Section 1" class="active">
                  <p>I'm in Section 1.</p>
                </div>
                <div title="Section 2">
                  <p>Howdy, I'm in Section 2.</p>
                </div>
                <div title="Section 3">
                  <p>What up girl, this is Section 3.</p>
                </div>
            </tab-container>
          </div>
<pre class="prettyprint linenums">

</pre>


          <h3>Tabbable in any direction</h3>

          <p>Use the <code>placement</code> property of <code>havok/widget/TabContainer</code> to alter where the tabs appear.</p>

          <h4>Tabs on the bottom</h4>
          <div class="bs-docs-example">
            <tab-container id="tabContainer1" placement="bottom" style="margin-bottom: 18px;">
                <div title="Section 1" class="active">
                  <p>I'm in Section 1.</p>
                </div>
                <div title="Section 2">
                  <p>Howdy, I'm in Section 2.</p>
                </div>
                <div title="Section 3">
                  <p>What up girl, this is Section 3.</p>
                </div>
            </tab-container>
              <radio-group id="buttonGroup1">
                  <button>top</button>
                  <button>left</button>
                  <button>right</button>
                  <button class="active">bottom</button>
              </radio-group>
            <script type="text/javascript">
                require(['dijit/registry', 'havok/bootstrap!'], function(registry){
                    var tabContainer = registry.byId('tabContainer1'),
                        buttonGroup = registry.byId('buttonGroup1');

                    buttonGroup.on('item-click', function(item){
                        tabContainer.set('placement', item.innerHTML);
                    });
                })
            </script>
          </div>
<pre class="prettyprint linenums">

</pre>

        </section>