
        <section id="tooltips" title="Tooltips">
          <div class="page-header">
            <h1>Tooltips</h1>
          </div>

          <p>Use <code>havok/widget/Tooltip</code> to make a tooltip.</p>

          <div class="bs-docs-example tooltip-demo">
            <p class="muted" style="margin-bottom: 0;">Tight pants next level keffiyeh <a data-dojo-type="havok/widget/Tooltip" title="Default tooltip">you probably</a> haven't heard of them. Photo booth beard raw denim letterpress vegan messenger bag stumptown. Farm-to-table seitan, mcsweeney's fixie sustainable quinoa 8-bit american apparel <a data-dojo-type="havok/widget/Tooltip" title="Another tooltip">have a</a> terry richardson vinyl chambray. Beard stumptown, cardigans banh mi lomo thundercats. Tofu biodiesel williamsburg marfa, four loko mcsweeney's cleanse vegan chambray. A really ironic artisan <a data-dojo-type="havok/widget/Tooltip" title="A much longer tooltip belongs right here to demonstrate the max-width we apply.">whatever keytar</a>, scenester farm-to-table banksy Austin <a data-dojo-type="havok/widget/Tooltip" title="The last tip!">twitter handle</a> freegan cred raw denim single-origin coffee viral.</p>
          </div>

<pre class="prettyprint linenums">
&lt;a data-dojo-type=&quot;havok/widget/Tooltip&quot; title=&quot;Default tooltip&quot;&gt;you probably&lt;/a&gt;
</pre>

          <h3>Four directions</h3>
          <div class="bs-docs-example tooltip-demo">
            <ul class="bs-docs-tooltip-examples">
              <li><a data-dojo-type="havok/widget/Tooltip" data-dojo-props="placement: 'top'" title="Tooltip on top">Tooltip on top</a></li>
              <li><a data-dojo-type="havok/widget/Tooltip" data-dojo-props="placement: 'right'" title="Tooltip on right">Tooltip on right</a></li>
              <li><a data-dojo-type="havok/widget/Tooltip" data-dojo-props="placement: 'bottom'" title="Tooltip on bottom">Tooltip on bottom</a></li>
              <li><a data-dojo-type="havok/widget/Tooltip" data-dojo-props="placement: 'left'" title="Tooltip on left">Tooltip on left</a></li>
            </ul>
          </div>

<pre class="prettyprint linenums">
&lt;a data-dojo-type=&quot;havok/widget/Tooltip&quot; data-dojo-props=&quot;placement: 'top'&quot; title=&quot;Tooltip on top&quot;&gt;Tooltip on top&lt;/a&gt;
</pre>

<h3>Custom trigger event</h3>
          <div class="bs-docs-example tooltip-demo">
            <ul class="bs-docs-tooltip-examples">
              <li><a data-dojo-type="havok/widget/Tooltip" data-dojo-props="eventShow: 'click'" title="I was clicked">Click to show tooltip</a></li>
            </ul>
          </div>
<pre class="prettyprint linenums">
&lt;a data-dojo-type=&quot;havok/widget/Tooltip&quot; data-dojo-props=&quot;eventShow: 'click'&quot; title=&quot;I was clicked&quot;&gt;Click to show tooltip&lt;/a&gt;
</pre>

<h3>Inverse tooltip</h3>
          <div class="bs-docs-example tooltip-demo">
            <ul class="bs-docs-tooltip-examples">
              <li><a class="inverse" data-dojo-type="havok/widget/Tooltip" title="Inverse tooltip">Inverse Tooltip</a></li>
            </ul>
          </div>
<pre class="prettyprint linenums">
&lt;a class=&quot;inverse&quot; data-dojo-type=&quot;havok/widget/Tooltip&quot; title=&quot;Inverse tooltip&quot;&gt;Inverse Tooltip&lt;/a&gt;
</pre>

</section>