<div class="well">
    <h1>Tree</h1>

    <h2>Basic tree</h2>
    <p>Use the <code>tree</code> tag to create an instance of <code>havok/widget/Tree</code>:</p>
    <div class="bs-docs-example">
        <tree>
            <folder>
                <a href="">Home</a>
                <tree>
                    <a href="">Profile</a>
                    <a href="">Messages</a>
                </tree>
            </folder>
            <a href="">Home</a>
            <a href="">Profile</a>
            <a href="">Messages</a>
        </tree>
    </div>
    <pre class="prettyprint linenums">

    </pre>

</div>