<h1>Number Textbox</h1>

<p><code>f-number</code> creates a <a href="/api/havok/form/Number.html">havok/form/Number</a>, which extends <a  href="/api/havok/form/Textbox.html">havok/form/Textbox</a> to add localized number formatting.</p>

<h2>Example</h2>
<div class="bs-docs-example">
    <d-formspy class="form-horizontal">
        <f-number label="Number" value=10000000></f-number>
    </d-formspy>
</div>

<pre class="prettyprint linenums">
{% set numberExample1 %}
<f-number label="Number" value=10000000></f-number>{% endset %}{{numberExample1|e}}
</pre>
