<h1>Validation Group</h1>

<p><code>f-validation-group</code> creates a <a href="/api/havok/form/ValidationGroup.html">havok/form/ValidationGroup</a> which provides the ability to do validation across multiple fields in a form. Place a ValidationGroup inside a form, and set a validator. The value of the form will be passed to the validator. ValidationGroup will display any validation messages. Eg:</p>

<h2>Example</h2>
<div class="bs-docs-example">
    <d-formspy>
        <f-form>
            <f-textbox value="Not Toby" label="username1" name="username1"></f-textbox>
            <f-textbox value="Toby" label="username2" name="username2"></f-textbox>
            <f-validation-group validator="docs/MultiFieldValidator" fields="username1 username2"></f-validation-group>
        </f-form>
    </d-formspy>
</div>

<pre class="prettyprint linenums">
{% set validationGroupExample1 %}
<f-form>
    <f-textbox value="Not Toby" label="username1" name="username1"></f-textbox>
    <f-textbox value="Toby" label="username2" name="username2"></f-textbox>
    <f-validation-group validator="docs/MultiFieldValidator" fields="username1 username2"></f-validation-group>
</f-form>{% endset %}{{validationGroupExample1|e}}
</pre>
