<h1>Text Editor</h1>

<p>Use tag <code>w-text-editor</code> to create a <a href="/api/havok/widget/TextEditor">havok/widget/TextEditor</a>.</p>

<div class="bs-docs-example">
    <w-text-editor>Here is some text to edit.</w-text-editor>
</div>

<pre class="prettyprint linenums">
{% set textEditorExample1 %}
<w-text-editor>Here is some text to edit.</w-text-editor>{% endset %}{{textEditorExample1|e}}
</pre>

<p>The tools visible will show and hide as the width of the text editor changes.</p>

<div class="bs-docs-example" style="width: 300px">
    <w-text-editor>Here is some text to edit.</w-text-editor>
</div>

<h2>Separated toolbar</h2>

<p id="editExample" contenteditable="true">You can use a separated text editing toolbar, and pass it a target node id to edit. The toolbar below can be used to edit this paragraph.</p>

<div class="bs-docs-example">
    <w-text-toolbar target="editExample">Here is some text to edit.</w-text-toolbar>
</div>
<pre class="prettyprint linenums">
{% set textEditorExample2 %}
<w-text-toolbar target="editExample">Here is some text to edit.</w-text-toolbar>{% endset %}{{textEditorExample2|e}}
</pre>


<h2>Custom font and size lists</h2>

<p>You can change the font and size lists by overriding the appropriate store in di config. Eg:</p>
<pre class="prettyprint linenums">
di: {
    'havok/store/stores': {
        proxies: {
            font: {
                base: 'my/alternative/font/store',
                proxyMethods: [
                    'get',
                    'query'
                ]
            }
        }
    }
}
</pre>
