<span data-dojo-attach-point="containerNode">
    <f-select class="input-mini"
        name="month"
        placeholder="Month"
        inline=true
        data-dojo-attach-point="month"
    >
    </f-select>
    <f-select class="input-mini"
        name="year"
        placeholder="Year"
        inline=true
        data-dojo-attach-point="year"
    >
    </f-select>
   <f-validation-group
       class="hide"
       data-dojo-attach-point="validationGroup"
       validator="CreditCardExpiry"
   ></f-validation-group>
</span>
