<div class="control-group">
    <div data-dojo-type="havok/widget/Alert" data-dojo-attach-point="alert, styleNode">
        <span data-dojo-attach-point="messagesNode"></span>
    </div>
    <div data-dojo-attach-point="containerNode">
        <select data-dojo-type="havok/form/Select"
            name="month"
            data-dojo-props="placeholder: 'Month', inline: true"
            data-dojo-attach-point="month"
            style="display: inline-block"
        >
        </select>
        <select data-dojo-type="havok/form/Select"
            name="year"      
            data-dojo-props="placeholder: 'Year', inline: true"
            data-dojo-attach-point="year"
            style="display: inline-block"
        >
        </select>
    </div>
</div>
