<div class="row-fluid">
    <select data-dojo-type="havok/form/Select"
        name="month"
        data-dojo-props="
            label: 'Expiry Month',
            'class': 'span6',
            focusNodeClass: 'span12'
        "
        data-dojo-attach-point="month"
    >
    </select>
    <select data-dojo-type="havok/form/Select"
        name="year"
        data-dojo-props="
            label: 'Expiry Year',
            'class': 'span6',
            focusNodeClass: 'span12'
        "
        data-dojo-attach-point="year"
    >
    </select>
</div>
