<span class="input-append">
    <input id="${id}" type="text" data-dojo-attach-point="textbox, focusNode"/>
    <button class="btn" data-dojo-type="havok/widget/DropdownToggle"
          data-dojo-attach-point="dropdownToggle"
          data-dojo-props="placement: {
              toggle: 'bottom-right',
              dropdown: 'top-right'
          }"
    >
        <i class="icon-calendar"></i>
        <div data-dojo-type="havok/widget/DateDropdown"
             data-dojo-attach-point="dropdown"
        >
        </div>
    </button>
</span>

