<h1>Builds</h1>

<p>To build havok run:</p>

<pre class="prettyprint linenums">
node path/to/havok/build/make.js
</pre>

<p>The result will be found in</p>
<ul>
    <li><code>havok/release</code> contains havok and all dependency packages as individual files after they have been passed through the build tools.</li>
    <li><code>havok/dist</code> contains a compressed havok layer containing the dojo loader, all havok modules, and all dependencies. Also contains compressed css for the havok layer.</li>
</ul>
</pre>
