<h1>Builds</h1>

<p>To build havok run:</p>

<pre class="prettyprint linenums">
node path/to/havok/build/make.js
</pre>

<p>The result will be found in</p>
<pre class="prettyprint linenums">
havok/dist
havok/release
</pre>
