<h1>Docs</h1>

<p>Havok documentation is generated from the <code>twig</code> templates found in <code>docs/twig</code>.</p>

<h2>Browsing docs</h2>

<p>To browse the unbuilt havok docs, first start the havok dev server:</p>

<pre class="prettyprint linenums">
node path/to/havok/dev/server.js docs
</pre>

<p>Then point your browser to:</p>
<pre class="prettyprint linenums">
http://localhost
</pre>

<h2>Building docs</h2>

<p>To build the documentation, run:</p>

<pre class="prettyprint linenums">
node path/to/havok/docs/build/make.js
</pre>

<p>This will a build havok layer for the documentation, and save all twig templates as flat html files.</p>
<p>The built docs will be found in <code>havok/docs/dist</code>.</p>

<h2>Browsing built docs</h2>

<p>To browse the built havok docs, first start the havok dev server:</p>

<pre class="prettyprint linenums">
node path/to/havok/dev/server.js dist-docs
</pre>

<p>Then point your browser to:</p>
<pre class="prettyprint linenums">
http://localhost
</pre>

<h2>Other docs tools</h2>

<p>The following scripts are used by the docs built tool, but may be run separately if you wish:</p>

<ul>
    <li><code>node path/to/havok/dev/docs/apiParse.js</code> Parses havok js and creates <code>tree.json</code> and <code>details.json</code>.</li>
    <li><code>node path/to/havok/dev/docs/apiStoreWiter.js</code> Parses <code>tree.json</code> and creates the data store used by the api docs tree navigation widget.</li>
    <li><code>node path/to/havok/dev/docs/apiDetailsWiter.js</code> Parses <code>details.json</code> and creates individual <code>json</code> files for each api documentation page.</li>
</ul>
