<h1>Setup</h1>

<p>To develop havok you will need havok will all development dependencies installed. To do this, clone havok and install with npm:</p>

<pre class="prettyprint linenums">
git clone http://github.com/zoopcommerce/havok
cd havok
npm install
</pre>
