<h1>Setup</h1>

<p>To develop havok you will need havok will all development dependencies installed. To do this, clone havok and install with npm:</p>

<pre class="prettyprint linenums">
git clone http://github.com/zoopcommerce/havok
cd havok
npm install
</pre>

<h2>dev server</h2>

<p>The development server is found in <code>havok/dev</code>. It is a http server run on node.js set up for easy testing and development of havok. You'll find more instructions below.</p>
