<h1>Runing Tests</h1>

<p>Havok uses the intern test runner.</p>

<p>To run tests in node, use:</p>
<pre class="prettyprint linenums">

</pre>

<p>To run tests in a browser use:</p>
<pre class="prettyprint linenums">

</pre>

<p>Note: when running in a browser, the output will be in the browser console.</p>
