<h1>Welcome</h1>

<p>Havok is open source, so it is yours to enjoy, change and improve. We love every contribution, from grammar corrections in the documentation to the most hardcore code.</p>

<p>Havok is hosted on github. You can post issues, suggestions and contribute to discussions there.</p>
