{% extends "api-content.twig" %}

{% block mainContent %}
    <section>
        <h1>{{location}}</h1>
        <p class="lead">{{summary}}</p>

        <h2>Methods</h2>
        {% for method in methods %}
            <h3>{{method.name}}</h3>
        {% endfor %}
    </section>
{% endblock %}
