//
//    Less for
//    havok/form/Select and
//    havok/form/Typeahead
//

.input-select input[readonly]{
    background-color: #EEEEEE;
    cursor: pointer;
}

.input-typeahead {
    display: inline-block;
    .ie7-inline-block();
}

.dropdown-menu{
    min-width: 50px;
}