<h1>Overview</h1>

<p>Dojo provides a superb data store api and a very solid selection of data store tools.</p>

<p>Stores are data repositories. They can be thought of as mini databases which store a single table, or collection of data.</p>

<p>Stores provide a consistent interface for supplying data to all parts of your application. Stores may be locally created in memory, backed by html5 local storage, a json rest api, or some other source.</p>
