<h1>Make</h1>

<p>Run the build using the <code>havok/build/make.js</code> script, with your build profile as an arguemnt. Eg:</p>

<pre class="prettyprint linenums">
node path/to/havok/build/make.js path/to/my.profile.js
</pre>

<p>Builds do a lot of processing, and may take several minutes to complete.</p>
