<div class="well">
    <h1>Build</h1>

    <p>When doing dojo builds, it is strongly recommended that you use the havok build tools. If you do, di plugins will resolve at build time with the following behaviour:</p>

    <h2>havok/get!</h2>

    <p>Will include <code>havok/di/di</code>, and the module requested by get!, and any modules in the gets property of the config for that object.</p>

    <h2>havok/proxy!</h2>

    <p>Will include <code>havok/di/di</code>, but not the module requested by proxy!.</p>

    <h2>havok/di/sharedDi!</h2>

    <p>Will include <code>havok/di/di</code>.
</div>