<div class="well">
    <h1>params</h1>

    <p class="lead">Scalar values to be injected</p>

    <p>Any property set in the <code>params</code> object will be set on the returned object.</p>

    <p>For example:</p>
    <pre class="prettyprint linenums">
'my/module': {
    params: {
        color: 'blue',
        size: 'big',
        number: 6,
        something: {blah: 4}
    }
}
    </pre>
</div>
